<html>

<head>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">

	<style type="text/css">
		.image-wrapper {
			margin: 0 auto;
			background: {{ defaults.background }};
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
		}

		#preview {
			width: 316px;
			height: 205px;
			box-shadow: 3px 3px 2px 0px rgba(214,214,214,1);
			margin-bottom: 20px;
		}

		.icon {
			color: #f3fdff;
		}

		#preview svg {
			width: 100px;
			height: 100px;
		}

		.wrapper {
			overflow: hidden;
			height: 0;
		}

		#generated {
			width: 1266px;
			height: 822px;
		}

		#generated svg {
			width: 400px;
			height: 400px;
		}

		.icons {
			border: 1px solid red;
			height: 400px;
			overflow: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.icons__single {
			text-align: center;
			cursor: pointer;
			padding: 5px;
			flex-basis: 75px;
			font-size: 40px;
		}

		.icons__single:hover {
			background: #f3f3f3;
		}

		.color-pickers {
			margin-bottom: 10px;
		}

		.color-wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
			align-items: center;
			justify-content: center;
		}

		.color {
			width: 40px;
			height: 40px;
			cursor: pointer;
			margin: 0 auto;
			border: 1px solid #b5b5b5;
		}

		#calc-contrast {
			margin-bottom: 15px;
		}

	</style>

	<script src="https://kit.fontawesome.com/1d7e8c2c3e.js" crossorigin="anonymous"></script>
	<script src="assets/dom-to-image.min.js"></script>
	<script src="assets/FileSaver.min.js"></script>

</head>	

<body>

	<div id="preview" class="image-wrapper preview">
		<div class="icon">
			<i id="preview-icon" class="fas fa-glass-cheers"></i>
		</div>
	</div>

	<div class="wrapper">
		<div id="generated" class="image-wrapper">
			<div class="icon">
				<i id="generated-icon" class="fas fa-glass-cheers"></i>
			</div>
		</div>
	</div>

	<div class="color-pickers">
		<h3>Background Colour:</h3>
		<div class="color-wrapper">
			{% for color in colors.background %}
				<div class="color" onclick="setColor('{{ color }}')" style="background: {{ color }};"></div>	
			{% endfor %}
			<input type="color" class="color" id="background-color-picker" value="{{ defaults.background }}">
		</div>

		<h3>Icon Colour:</h3>
		<input type="checkbox" id="calc-contrast" checked="checked"><label for="calc-contrast">automatically adjust icon contrast</label>
		<div class="color-wrapper">
			{% for color in colors.icon %}
				<div class="color" onclick="setIconColor('{{ color }}')" style="background: {{ color }};"></div>	
			{% endfor %}
			<input type="color" class="color" id="icon-color-picker" value="{{ defaults.light }}">
		</div>
	</div>

	<div class="icon-search-wrapper">
		<input type="text" onkeyup="searchIcons()" id="icon-search">
		<div class="icons">
			{% for icon in icons %}
				<div 
					data-keywords="{{ icon.label }} {% for keyword in icon.search.terms %} {{ keyword }} {% endfor%}"
					class="icons__single" 
					onclick="setIcon(
						'{{ icon.key }}', 
						'{% if icon.free.includes('brands') %}fab{% else %}fas{% endif %}'
					)"
				">
					<i class="{% if icon.free.includes('brands') %}fab{% else %}fas{% endif %} fa-{{ icon.key }}"></i>
				</div>
			{% endfor %}
		</div>
	</div>

	<button id="download">Download</button>

	<script>

		function setIconColor(iconColor) {
			Array.from(document.getElementsByClassName('icon')).forEach(function(icon) {
				icon.style.color = iconColor
			})
			document.getElementById('icon-color-picker').value = iconColor
		}

		function setIconColorFromBackground(bgColor) {
			if (!document.getElementById('calc-contrast').checked) return
		   var nThreshold = 105;
		   var components = getRGBComponents(bgColor);
		   var bgDelta = (components.R * 0.299) + (components.G * 0.587) + (components.B * 0.114);

		   const iconColor = ((255 - bgDelta) < nThreshold) ? "{{ defaults.dark }}" : "{{ defaults.light }}";
		   setIconColor(iconColor)
		}

		function getRGBComponents(color) {       

		    var r = color.substring(1, 3);
		    var g = color.substring(3, 5);
		    var b = color.substring(5, 7);

		    return {
		       R: parseInt(r, 16),
		       G: parseInt(g, 16),
		       B: parseInt(b, 16)
		    };
		}

		setColor = function(color) {
			document.getElementById('generated').style.background = color
			document.getElementById('preview').style.background = color
			document.getElementById('background-color-picker').value = color
			setIconColorFromBackground(color)
		}

		setColorFromInput = function() {
			setColor(document.getElementById('background-color-picker').value)
		}

		setIcon = function(icon, prefix) {
			document.getElementById('generated-icon').className = prefix + ' fa-' + icon
			document.getElementById('preview-icon').className = prefix + ' fa-' + icon
		}

		searchIcons = function() {
			const search = document.getElementById('icon-search').value

			Array.from(document.getElementsByClassName('icons__single')).forEach(function(element) {
				element.style.display = element.dataset.keywords.includes(search) ? 'block' : 'none'
			})
		}

		document.getElementById('background-color-picker').addEventListener("input", setColorFromInput, false)

		document.getElementById('download').onclick = function() {
		  domtoimage.toBlob(document.getElementById('generated'))
		      .then(function (blob) {
		          window.saveAs(blob, 'my-node.png');
		      });
		}
	</script>

	<script>
	    FontAwesomeConfig = { autoReplaceSvg: 'nest' }
	</script>
</body>

</html>